<h2>My Heroes</h2>
<div>
  <label for="filtersHero">
    Gender:
  </label>

    <select name="filtersHero" id="filtersHero"
            [(ngModel)]="select">
      <option  value="select options" disabled selected="selected">select options</option>
      <option *ngFor="let filter of filtersHero" [value]="filter.name">{{filter.name}}</option>
    </select>
</div>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes | filter:select">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name+' ' + hero.gender}}
      </a>
      <button class="delete" title="delete hero"
         (click)="delete(hero)">x</button>
  </li>
</ul>


